// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;
@layout-space:20px;

// Uncomment the definition below for a percentage-based layout
// @total-width: 100%;


////////////
// LAYOUT //
////////////

// header
#header {
    margin: 0 auto;
    width: 960px;
    height: 78px;
	margin-bottom: @layout-space;
}
#header h1{
  .column(3);
}
#header .top-nav{
  .column(9);
}
//featured
#featured{
    width:960px;
    margin: 0 auto;
    height:375px;
}
#featured .slideshow {
    .column(6);
	margin-bottom: @layout-space;
}
#featured .intro {
    .column(6);
	margin-bottom: @layout-space;
}
// main
#main-wrapper{
    width: 960px;
    margin: 0 auto @layout-space;
}
#main{
    .column(12);
}
#main .guide {
    padding: 30px;
    margin-bottom: @layout-space
}
#footer-wrapper{
clear: both;
}
#footer{
   width:960px;
   margin:0 auto;
}
#footer .footer-nav{
  .column(7);
  margin-bottom:@layout-space
}
#footer .footer-search{
  .column(5);
  margin-bottom:@layout-space
}
#footer .follow-us{
  .column(6);
}
#footer .copyright{
  .column(6);
}